{% extends 'layouts/base.html' %}

{% block content %}
<h1>Bienvenidos a Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, atque? Atque sapiente exercitationem earum saepe facere, dolores ipsa optio sit reiciendis eveniet omnis sed itaque, similique dolorem error voluptatum accusantium praesentium consequatur vitae. Impedit eveniet maxime vitae? Nisi voluptas eum, iste ipsa quae asperiores quaerat qui reiciendis repellendus cupiditate eligendi iure natus fuga fugit doloribus beatae quam. Aut tempora quod ad est cumque nobis consequatur dignissimos repellendus eius aspernatur iusto, nostrum ut, debitis porro veniam saepe. Tempora reprehenderit at recusandae quasi. Deleniti hic sit sunt aliquam provident nesciunt modi recusandae amet. Similique officia ea, magnam ratione omnis facilis iusto corrupti!</p>
{% endblock %}